<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<system.net>
		<mailSettings>
			<smtp from="***@gmail.com" deliveryMethod="Network">
				<network host="smtp.gmail.com"
				         enableSsl="true"
				         port="587"
				         userName="***"
				         password="***"
				         defaultCredentials="false" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>