<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Faker" version="1.2" targetFramework="net45" />
  <package id="Faker.Net" version="1.0.3" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" />
  <package id="UnidecodeSharp" version="1.0.0.0" targetFramework="net45" />
</packages>